#crafting-table {
	background: url("img/crafting_table_ui.png");
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	width: 352px;
	height: 332px;
}

#crafting-input {
	position: absolute;
	top: 42px;
	left: 68px;
}

#crafting-output {
	position: absolute;
	top: 77px;
	left: 256px;
}

#crafting-inventory {
	position: absolute;
	top: 176px;
	left: 24px;
	font-size: 0;
}

.crafting-inventory-row {
	height: 36px;
}

.crafting-input-row {
	height: 36px;
}

#ingredients {
	font-size: 0;
}

.ingredient {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	width: 32px;
	height: 32px;
	margin-right: 4px;
	display: inline-block;
	background-image: url("img/inv_sprite.png");
	background-position: -832px -2336px;
	/* background-color: aqua; */
}

.ingredient:hover {
	background-color: lightgray;
}
