#crafting-table {
	background: url("/img/crafting_table_ui.png");
	width: 352px;
	height: 332px;
}

#crafting-input {
	position: absolute;
	top: 42px;
	left: 68px;
}

#crafting-output {
	position: absolute;
	top: 77px;
	left: 256px;
}

.crafting-input-row {
	height: 35px;
}

#ingredients {

}

.ingredient {
	background-size: 100% 100%;
	image-rendering: pixelated;
	width: 32px;
	height: 32px;
	display: inline-block;
	/* background-color: aqua; */
}

.ingredient:hover {
	background-color: lightgray;
}
